@import '../styles/constants';

ul {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;

  li {
    flex: 0 1 33.33333333%;
    justify-content: center;
    align-items: center;

    &:first-child,
    &:last-child {
      flex: 1 1 100%;
    }

    button {
      height: 70px;
    }
  }
}

.keys--operations {
  flex-direction: row;
  flex-basis: 40%;
  li {
    flex: 0 1 100%;
    button {
      background-color: $brandColour;
      color: #fff;
      &:active {
        background-color: darken($brandColour, 5%);
      }
    }
  }
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

.keys {
  display: flex;
}
